<h1>Two-Factor Authentication</h1>

<p>Choose your preferred method of two-factor authentication:</p>

<%= form_with url: send_otp_two_factor_authentication_path, method: :post, local: true do |form| %>
  <p>
    <%= label_tag :two_factor_method, "Choose method" %><br>
    <%= select_tag :two_factor_method, options_for_select(@available_methods.map { |method| [method.capitalize, method] }), id: "two_factor_method" %>
  </p>
  <div id="phone_number_field" style="display: none;">
    <%= label_tag :phone_number, "Enter your phone number" %><br>
    <%= text_field_tag :phone_number %>
  </div>
  <p>
    <%= submit_tag "Send OTP" %>
  </p>
<% end %>

<% @enabled_methods.each do |method| %>
  <p>
    Two-factor authentication via <%= method.capitalize %> is enabled.
    <%= form_with url: disable_two_factor_authentication_path, method: :post, local: true do %>
      <%= hidden_field_tag :two_factor_method, method %>
      <%= submit_tag "Disable #{method.capitalize} 2FA" %>
    <% end %>
  </p>
<% end %>

<% if @qr_code %>
  <p>
    <%= image_tag @qr_code.to_data_url, alt: 'QR Code for Google Authenticator' %>
  </p>
<% end %>
