<!-- app/views/users/edit.html.erb -->
<h1>Edit Profile</h1>
<div class="edit-profile-container">
  <%= form_with(model: @user, url: profile_path, method: :patch, local: true) do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :surname %>
      <%= form.text_field :surname %>
    </div>

    <div class="field">
      <%= form.label :nickname %>
      <%= form.text_field :nickname %>
    </div>

    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>

    <div class="field">
      <%= form.label :phone_number %>
      <%= form.text_field :phone_number %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation %>
    </div>

    <div class="actions">
      <%= form.submit "Update Profile" %>
    </div>
  <% end %>
</div>
