<h1>My Profile</h1>
<div class="profile-container">
  <div class="profile-left">
    <%= image_tag(@user.profile_picture_url, alt: 'User Icon', class: 'profile-icon', onclick: 'enlargeImage(this)') %>
    <%= link_to 'Edit Profile', edit_user_profile_path, class: 'edit-profile-btn' %>
    <p>Nickname: <%= @user.nickname %></p>
    <p>Bio: <%= @user.bio %></p>
    <p>Followers: <%= @user.followers_count %></p>
    <p>Following: <%= @user.following_count %></p>
  </div>
  <div class="profile-right">
    <div class="profile-section">
      <%= link_to 'My Snippets', my_snippets_path, class: 'profile-link' %>
    </div>
    <div class="profile-section">
      <%= link_to 'My Contribution', my_contribution_path, class: 'profile-link' %>
    </div>
  </div>
  <div class="badges-section">
    <h2>Badges (Overview)</h2>
    <% @user.badges.each do |badge| %>
      <%= image_tag(badge.image, alt: badge.name, class: 'badge-icon') %>
    <% end %>
  </div>
</div>

<script>
  function enlargeImage(img) {
    // Simple script to enlarge the profile icon when clicked
    img.style.width = "200px";
    img.style.height = "200px";
  }
</script>
