<h1>Verify OTP</h1>

<div id="error-messages" style="color: red;">
  <% if flash[:alert] %>
    <p><%= flash[:alert] %></p>
  <% end %>
</div>

<%= form_with url: verify_otp_two_factor_authentication_path, method: :post, local: true do %>
  <p>
    <%= label_tag :otp_code, "Enter the OTP code" %><br>
    <%= text_field_tag :otp_code %>
  </p>
  <p>
    <%= submit_tag "Verify OTP" %>
  </p>
<% end %>

<%= form_with url: send_otp_two_factor_authentication_path, method: :post, local: true do %>
  <p>
    <%= hidden_field_tag :two_factor_method, session[:otp_method] %>
    <%= submit_tag "Resend OTP" %>
  </p>
<% end %>
