<h1>Dashboard</h1>
<div class="dashboard-tiles">
  <%= link_to "My Snippets", snippets_path, class: "tile" %>
  <%= link_to "Resume Snippet", resume_snippet_path, class: "tile" %>
  <%= link_to "My Profile", profile_path, class: "tile" %>
  <%= link_to "My Badges", badges_path, class: "tile" %>
  <%= link_to "Community Activity", community_path, class: "tile" %>
  <%= link_to "Settings", settings_path, class: "tile" %>
  <%= link_to "Connect Account", connect_account_path, class: "tile" %>
  <%= link_to 'My GitHub Repositories', user_repositories_path, class: "title" %>
</div>

