<h1>Editing File: <%= @file.name %></h1>

<% if @file_content.blank? %>
  <p>File content is missing.</p>
<% end %>

<div class="container">
  <div class="sidebar left" id="sidebar">
    <button id="toggle-button">Toggle Sidebar</button>
    <h2>Files</h2>
    <ul id="file-tree">
      <% if @contents.present? %>
        <% @contents.each do |item| %>
          <li>
            <%= link_to item.name, edit_file_project_path(@project, file_id: item.id) %>
          </li>
        <% end %>
      <% else %>
        <li>No files found.</li>
      <% end %>
    </ul>
    <div class="resizer" id="resizer-left"></div>
  </div>
  <div class="main-content" id="main-content">
    <div class="top-bar">
      <%= form_with(url: update_file_project_path(@project, file_id: @file.id), method: :patch, local: true, id: 'editor-form') do %>
        <button id="save-file-button" type="submit">Save File</button>
        <%= hidden_field_tag :content, @file_content, id: "file-content-hidden" %>
      <% end %>
      <button id="run-code-button" class="run-code">Run Code</button>
    </div>
    <textarea id="file-content" hidden data-file-path="<%= @file.path %>" data-project="<%= @project.id %>"><%= @file_content %></textarea>
    <div id="editor-container" style="height: calc(100vh - 200px); width: 100%;">
      <div id="editor" style="height: 100%; width: 100%;"></div>
    </div>
    <div id="output-container" class="output-container">
      <h2>Output</h2>
      <pre id="output" class="output"></pre>
    </div>
    <div class="resizer" id="resizer-editor"></div>
  </div>
  <div class="sidebar right" id="sidebar-right">
    <h2>Tools</h2>
    <div>Placeholder for tools</div>
  </div>
</div>
