<h1>My Projects</h1>

<%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project_path(project) %></td>
        <td><%= project.description %></td>
        <td>
          <%= link_to 'Edit', edit_project_path(project), class: 'btn btn-warning' %>
          <%= link_to 'Delete', project_path(project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
