<h1>Editing File: <%= @file_path %></h1>

<%= form_with(url: update_repository_file_path(@repository, @file_path), method: :patch, local: true) do %>
  <div>
    <textarea id="editor" name="content" data-codemirror><%= @file_content %></textarea>
  </div>
  <div>
    <%= submit_tag "Save Changes" %>
  </div>
<% end %>

<%= javascript_pack_tag 'editor' %>
